@font-face {
    font-family: CougherBlackOblique;
    src: url("../fonts/CougherBlackOblique.woff") format("woff"), url("../fonts/CougherBlackOblique.ttf")  format("truetype");
}

body {
  font-family: CougherBlackOblique;
  background-color: #949699;
  color: black;
}

.text-overlay {
  color: rgba(226, 88, 190, 0.75);
  font-size: 70px;
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash {
  width: 100vw;
}

#navbar-x {
  background-color: #fc6e25 !important;
  text-align: center;
}

.nav {
  margin: auto;
}

.nav-link {
  color: black !important;
  margin-right: 2em;
  white-space: nowrap;
}

.nav-link:hover {
  color: rgba(226, 88, 190, 0.75) !important;
}

.center {
  text-align: center !important;
}

.header-container {
  margin: 60px;
  font-size: 70px;
}

.video-container {
  margin: 80px;
}

.bio {
  text-align: center;
  margin: 80px 30vw 80px 30vw;
}

.headshot {
  max-height: 300px;
}
