body {
  font-family: 'Fjalla One';
  background-color: white !important;
  color: #8D8D8D !important;
}

.text-overlay {
  color: rgba(226, 88, 190, 0.75) !important;
  font-size: 5em;
  white-space: nowrap;
  background: rgba(0,0,0,0);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 440px) {
  .text-overlay {
    font-size: 3.0em;
  }
}

.splash-vid  {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.splash {
  width: 100%;
  height: auto;
}

#navbar-x {
  background-color: #fc6e25 !important;
  text-align: center;
}

.nav {
  margin: auto;
  text-align: center !important;
}

.nav-link-x {
  font-size: 3.0em;
  text-decoration: none;
  color: black !important;
  white-space: nowrap;
}

.nav-link-x:hover {
  color: #f1e3a1 !important;
  text-decoration: none;
}

@media screen and (max-width: 874px) {
  .nav-link-x {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 767px) {
  .margin-r {
    margin-right: 15px;
  }
}

.center {
  text-align: center !important;
}

.header-container {
  margin: 60px 0 60px 0;
  font-size: 5em;
}

.container-x {
  margin: 80px;
}

.about {
  text-align: left;
  display: inline-block;
  font-size: 4em;
}

.headshot {
  height: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.headshot-pw {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .container-x {
    margin: 80px 0 80px 0;
  }

  .headshot {
    width: 70vw;
    height: auto;
  }

  .headshot-pw {
    width: 70vw;
    height: auto;
  }
}
